.input-field {
  outline: none;
  margin: 0.3rem;
  padding: 0.6em 1em;
  border: 1px solid var(--white-shade-2);
  border-radius: 2px;
  width: 103%;
  background-color: var(--white-shade-1);
}

.input-field:focus {
  border: 1px solid black;
}
