.submit-button {
  color: white;
  font-weight: bold;
  background-color: rgb(9, 135, 245);
  border: none;
  outline: none;
  width: 100%;
  border-radius: 4px;
  margin: 0.3rem;
}

.submit-button:hover {
  cursor: pointer;
}

.submit-button:disabled {
  background-color: rgb(128, 191, 247);
  cursor: initial;
}
