.submit-button {
  color: white;
  font-weight: bold;
  background-color: rgb(9, 135, 245);
  border: none;
  outline: none;
  width: 260px;
  border-radius: 4px;
  margin: 0.5rem;
  padding: 0.5em;
}

.submit-button:hover {
  cursor: pointer;
}

.button-opacity {
  opacity: 0.6;
  pointer-events: none;
}
