.bookmark-icon {
  margin-left: auto;
  margin-right: 0.8rem;
}

.action-icons {
  padding-left: 0.8em;
  padding-top: 0.8em;
  border: none;
  background-color: white;
}

.action-icons:hover {
  opacity: 0.5;
  cursor: pointer;
}
