.content {
  position: relative;
}

.content-img {
  width: auto;
  height: 446px;
}

.content-right-button {
  position: absolute;
  top: 50%;
  left: 85%;
  border: none;
  opacity: 0.3;
  border-radius: 50%;
}

.content-left-button {
  position: absolute;
  top: 50%;
  left: 10%;
  border: none;
  opacity: 0.3;
  border-radius: 50%;
}
