.comment {
  width: 460px;
}

.comment-icon {
  margin: 0.8rem;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
}

.comment-person {
  font-weight: 700;
}

.comment-actions {
  font-size: small;
  color: gray;
  margin-top: 0.4rem;
}

.comment-mid {
  align-self: center;
}

.comment-like {
  padding: 0.8em;
  margin-left: auto;
  margin-top: 0.4px;
}

.reply-action {
  border: none;
  background-color: white;
  color: gray;
}

.likes {
  margin-right: 0.4rem;
}

.time {
  margin-right: 0.4rem;
}
