.navbar {
  margin-left: 80px;
  background-color: white;
}

.navbar-items {
  margin-left: 20px;
  border: none;
  background-color: white;
}

.navbar-items:hover {
  cursor: pointer;
}

.last-icon {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: black;
}

.relative-item {
  position: relative;
}


