.edit-photo {
  background-color: var(--white-shade-0);
  border: 1px solid var(--white-shade-2);
  width: auto;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
