.edit-profile {
  width: 40%;
  justify-content: center;
}

.profile-settings-header {
  background-color: var(--white-shade-0);
  background-color: transparent;
  margin-top: 5rem;
  align-self: center;
}

.edit-profile-form {
  align-self: center;
  margin-left: 3em;
  margin-top: 3em;
}

.profile-image-icon {
  border-radius: 50%;
  background-color: black;
  width: 50px;
  height: 50px;
  align-self: center;
  margin-right: 2rem;
}

.edit-profile-picture {
  color: rgb(9, 135, 245);
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.edit-profile-label {
  margin: 0.8rem 1rem;

  font-weight: bold;
  width: 30%;
  text-align: justify;
  text-align-last: right;
}

.edit-submit {
  color: white;
  font-weight: bold;
  background-color: rgb(9, 135, 245);
  border: none;
  outline: none;
  border-radius: 4px;
  margin: 3rem 6rem;
  padding: 0.5em 0.8em;
}

.edit-submit-google:hover {
  cursor: pointer;
}

.edit-submit:hover {
  cursor: pointer;
}

.edit-submit:disabled {
  background-color: rgb(128, 191, 247);
  cursor: initial;
}
