.input-edit-field {
  border: 1px solid var(--white-shade-2);
  padding: 0.5em;
  margin: 0.5rem 1.5rem;
  width: 300px;
  border-radius: 4px;
}

.input-edit-field:focus {
  border: 1px solid gray;
  outline: none;
}
