.input-edit-field {
  border: 1px solid var(--white-shade-2);
  padding: 0.5em;
  margin: 0.5rem 1.5rem;
  width: 300px;
  border-radius: 4px;
}

.input-edit-field:focus {
  border: 1px solid gray;
  outline: none;
}

.edit-profile-label {
  margin: 0.8rem 1rem;
  font-weight: bold;
  width: 30%;
  text-align: justify;
  text-align-last: right;
}

.input-field {
  outline: none;
  margin: 0.3rem;
  padding: 0.6em 1em;
  border: 1px solid var(--white-shade-2);
  border-radius: 2px;
  width: 103%;
  background-color: var(--white-shade-1);
}

.input-field:focus {
  border: 1px solid black;
}
