.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: black;
  margin-left: 150px;
  margin-right: 100px;
}

.profile {
  margin-top: 1000px;
  align-self: center;
  margin: 400px;
}

.profile-info {
  margin-top: 30px;
}

.counts {
  margin-right: 20px;
  font-weight: bold;
}

.followers-button {
  border: none;
  background-color: inherit;
  margin-left: 5px;
  cursor: pointer;
}

.following-button {
  border: none;
  background-color: inherit;
  margin-left: 5px;
  cursor: pointer;
}

.user-name {
  margin-right: 20px;
  font-weight: bold;
}

.settings-profile-button {
  border: none;
  margin-left: 20px;
  cursor: button;
}

.profile-bio {
  margin-top: 30px;
}

.name {
  font-weight: bold;
}

.profile-header {
  margin-bottom: 150px;
}
