.profile-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-left: 5rem;
  margin-right: 5rem;
}

.profile {
  margin-top: 50rem;
  align-self: center;
  margin-left: 30rem;
  margin-right: 30rem;
}

.profile-info {
  margin-top: 30px;
}

.counts {
  margin-right: 1.6rem;
  font-weight: 700;
}

.followers-button {
  border: none;
  background-color: inherit;
  margin-left: 0.4rem;
  cursor: pointer;
  font-size: 16px;
}

.following-button {
  border: none;
  background-color: inherit;
  margin-left: 0.4rem;
  cursor: pointer;
  font-size: 16px;
}

.user-name {
  margin-right: 1.6rem;
  font-weight: none;

  font-size: 28px;
}

.settings-profile-button {
  border: none;
  margin-left: 2.4rem;
  cursor: pointer;
  align-self: center;
}

.profile-bio {
  margin-top: 2rem;
}

.name {
  font-weight: 700;
  font-size: 16px;
}

.profile-header {
  margin-bottom: 10rem;
}

.bio {
  font-size: 16px;
}
