.search {
  border: 1px solid gray;
  border-radius: 6px;
  margin-left: 200px;
  width: 250px;
}

.search-icon {
  align-self: center;
  margin-left: 10px;
}

.search-box {
  margin-top: 5px;
  margin-left: 15px;
  align-self: center;
  border: none;
}
